body{
    background-image:url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding-top: 30px;
}

/* logo+titolo */
header{
    text-align: center;
}

.logo{
    width: 200px;
}

h2{
    font-style: italic;
    color: #32CD32;
    height: 15px;
    margin: 0 auto;
    padding-bottom: 0;
}

/* pulsanti di navigazione */
nav{
    background-color: #32CD32;
    text-align: center;
    margin: 20px 100px;
    padding: 7px 10px;
}

/* corpo della pagina */
main{
    color: white;
    text-align: left;
    margin: 0 100px;
    padding: 0%;
}
h3{
    display: inline-block;
    margin-bottom: 0;
}

p{
    margin: 0 auto;
    font-size: 12px;
    font-style: italic;
}

span::before{
    content:"\290F";
}

.row1{
    background-color: rgb(246, 131, 89);
    width: 200px;
    color: rgb(246, 131, 89);
    border-radius: 5px;
}

.row2{
    background-color: rgb(9, 169, 9);
    width: 400px;
    color: rgb(9, 169, 9);
    border-radius: 5px;
}

.row3{
    background-color: rgb(209, 14, 14);
    width: 100px;
    color: rgb(209, 14, 14);
    border-radius: 5px;
}